html, body
{
    margin: 0;
    padding: 0;
}

.header
{
    background-color:  grey;
}

.logo
{
    width: 40px;
}
.nav
{
    color: red
}
.nav ul
{
    list-style: none;
    margin-top: 0;
    
}
.nav li
{
    display: inline;
    margin-inline: 20px;
}
.nav li a /*Cor dos links da nav*/
{
    color: white;
    text-decoration: none;
    font: 40px 'Courier New';
}


body
{
    background-color: green;
}