html, body
{
    margin: 0;
    padding: 0;
}

.header
{
    background-color:  rgb(99, 128, 200);
}
.nav
{
    color: red
}
.nav ul
{
    list-style: none;
    margin-top: 0;
    
}
.nav li
{
    display: inline;
    margin-inline: 20px;
}
.nav li a /*Cor dos links da nav*/
{
    color: white;
    text-decoration: none;
    font: 200% 'Courier New';
}

.title
{
    text-align: center;
    font: 200% 'Courier New';
}
.social li
{
    display: inline;
    margin-inline: 0px;
    
}
.social li img
{
    width: 40px;
}


body
{
    background-color: lightgray;
}